.head-container-1{
    display: flex;
    margin-top: 60px; 
}

.first-img{
   max-width: 450px;
   margin-left:30px ;
   margin-top: 1px;
   float: left;
   margin-right: 30px;
   

}

.parent-container-1{
    margin-left: 50px;
   
}

.heading{
        display: flex;
        justify-content: space-between;

}
.line-1{
    text-align: center;
    margin: 20px;
    font-size: 25px;
    
}



.Accessories-card{
    height: 330px;
    width:200px;
    border: 2px solid #12d048;
    border: 2px solid #92E3A9;
    border-radius: 10px;
    margin-left:40px;
    margin-right:50px;
    margin-top: 20px;
    display: inline-block;
    justify-content: space-evenly;
}


.rl-image{
    
    height: 200px;
    width: 200px;
    border-radius: 5px;

   
}


.prise-btn{
    height: 40px;
    width: 195px;
    margin-left: 3px;
    margin-right: 3px;
    background-color:  #5cd17d;
    color: white;
    font-size: 16px;
    border: 5px solid;
    border-radius: 15px;
   

} 
 .prise-btn:hover{
    background-color: #12d048;
}


.Ru{
    margin-left: 40px;
}
.font{
    margin-left: 10px;
    font-size: 14px;
}


.circle-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 80px;
    margin-right: 80PX;
    margin-top: 20px;
}


.circle-child{
    padding: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-left: 20px;
   
    
}


.circle-child-image{
    height: 170px;
    border-radius: 200px;
    border: 3px solid #92E3A9;
    padding: 4px;
   
}


.text-most-seller{
    color: #006633;
    text-align: center;
}


.container-sub-child{
    flex-direction: row;
    display: flex;
    display: inline;
    margin-left: 60px;

}

.cl-image{
    border: 5px double #92E3A9;
    box-shadow: 0 2px 5px #006633;
    margin: 5px;
    border-radius: 15px;
    padding: 3px;
    height: 200px;
    
}



.footer-container{
    background-color: #92E3A9;
    margin-top: 100px;
    height: 80px;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer-child{
    background-color: #92E3A9;
    margin-top: 70px;
    font-size: 40px;
    font-family: monospace;
    color: #006633 ;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer-end-container{
    background-color: #92E3A9;
    margin-top: 40px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.text-footer{
    background-color: #92E3A9;
    font-size: 27px;
    font-family: monospace;
    color: #006633;
}
.main-footer{
    background-color: #92E3A9;
}
.emoticon-child-l-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px;
}
.emoticon-image-l{
    height: 30px;
    margin: 5px;
    padding: 5px;
}
.hyperlink-l{
    margin-top: 80px;
    text-decoration: none;
    font-size: 20px;
    font-family: monospace;
    color: #006633;
}





