body{
    margin: 0;
}
.head-container
{
    display: flex;
    justify-content: center ;
    align-items: center;
    height: 120px;
    width: auto;
    
    
}

.brand-name
{
    color: #006633;
    font-size: 60px;
    font-family: cursive;
    font-weight: 600;
}
.logo
{
    height: 100px;
}
.navbar-container
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: auto;
    background-color: #92E3A9;
    
}

.nav-elements{
    margin: 10px;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
    align-items: center;
    color: #006633 ;
    border: 3px solid white;
    border-radius: 10px;
    padding: 6px;
}
.nav-elements:hover{
    color: black;
    background-color: white;
    border-radius: 14px;
}
.box-section{
    font-size: 25px;
    border: 1px solid #0F9D58;
    border-radius: 10px;
    align-items: center;
}
.box-section:hover{
    border: 3px solid #0F9D58;
}
.text-field{
    height: 27px;
    width: 300px;
    border: 1px solid #0F9D58;
    border-radius: 10px;
    color: #006633;
    margin-left: 3px;

}
.text-field:hover{
    border: 3px solid #0F9D58;
}
.navbar-child-container{
    display: flex;
    justify-content: left;
    align-items: center;
}
.opt{
    color: #006633;
}
.front-img{
    margin-top: 20px;
    height:400px;
    width: 400px;
}
.line-1{
    text-align: center;
    margin: 20px;
    font-size: 30px;
    font-family: monospace ;
    font-weight: 500;
    text-decoration: none;
}
.container-sub-items{
    margin: 20px;
    display: flex;
    justify-content: space-around;
}
.cl-image{
    border: 5px double #92E3A9;
    box-shadow: 0 2px 5px #006633;
    margin: 5px;
    border-radius: 15px;
    padding: 3px;
    height: 300px;
}
.line-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.special-high{
    color: #006633;
}
.main-headding {
    font-family: sans-serif;
    font-size: 80px;
    position: absolute;
    top: 10px;
}
.parent-container{
    position: relative;
    margin-left:0;
    text-align: center;

}
.first-img-container{
    position: relative;
    margin-top: 30px;
    background-color: white;
    width: 1350px;
    height: 500px;
}

   

.child-container{
    position:absolute;
    top: 100px;
    left: 550px;
    font-size: larger;
    margin-top: 5px;
    
}
.front-img-2{
    
    position: absolute;
    top: 30px;
    right: 40px;
    width: 450px;
    height: 450px;
}
.front-img{
    position: absolute;
    width: 450px;
    height: 450px;
    margin-top: 20px;

}


.happy{
    font-size: 80px;
    color:#0b9751;
    font-family: cursive;
    
}
.home-btn{
    background-color: #0b9751;
    border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  align-items: center;
  padding: 15px 32px;
  position: absolute;
  border: 5px solid ;
  border-radius: 15px;
  
}
.home-btn-2{
    background-color: #000702;
    border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  align-items: center;
  padding: 15px 32px;
  margin-left: 80px;
  border: 5px solid ;
  border-radius: 15px;
}   
.circle-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.circle-child{
    padding: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.circle-child-image{
    height: 170px;
    border-radius: 200px;
    border: 3px solid #92E3A9;
    padding: 4px;
}
.circle-child-text{
    font-size: 23px;
    font-family: monospace;
}
.emoticon-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.emoticon-child{
    margin-top: 80px;
    height: 50px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.emoticon-image{
    height: 100x;
    padding: 4px;
}
.emoticon-text{
    font-size: 20px;
    font-family: sans-serif;
}
.footer-container{
    background-color: #92E3A9;
    margin-top: 100px;
    height: 80px;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer-child{
    background-color: #92E3A9;
    margin-top: 70px;
    font-size: 40px;
    font-family: monospace;
    color: #006633 ;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer-end-container{
    background-color: #92E3A9;
    margin-top: 40px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.text-footer{
    background-color: #92E3A9;
    font-size: 27px;
    font-family: monospace;
    color: #006633;
}
.main-footer{
    background-color: #92E3A9;
}
.emoticon-child-l-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px;
}
.emoticon-image-l{
    height: 30px;
    margin: 5px;
    padding: 5px;
}
.hyperlink-l{
    margin-top: 80px;
    text-decoration: none;
    font-size: 20px;
    font-family: monospace;
    color: #006633;
}
